/node_modules
/public/build
/public/hot
/public/data/feeds
/public/data/feeds/*
/vendor
tmp/uploads
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
# Ignoriši svakodnevne promjene podataka
/public/data/feeds/*.json
/storage/app/public/*
/storage/tmp/uploads/*
